[Unit]
Description=Perfect deployed perfectpollserver

[Service]
Type=simple
WorkingDirectory=/perfect-deployed/perfectpollserver
ExecStart=/perfect-deployed/perfectpollserver/PerfectPollServer
Restart=always
PIDFile=/var/run/perfectpollserver.pid

[Install]
WantedBy=multi-user.target
